/*
* quick view
*/

.zank-mfp-slide-bottom button.mfp-close,
.zank-mfp-slide-bottom button.mfp-arrow,
.mfp-zank-quickview button.mfp-close,
.mfp-zank-quickview button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation;
}

.mfp-zank-quickview .zank-panel-close-button {
	position: absolute;
	top: 15px;
	right: 15px;
}

.mfp-zank-quickview .zank-panel-close-button:hover {
	background-color: var(--zank-bg-soft);
}

.zank-quickview-wrapper {
    background: var(--zank-light);
    padding: 60px;
    max-width: 920px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(116 116 116 / 22%);
}

.zank-quickview-wrapper .zank-swiper-slider-wrapper {
    overflow: hidden;
}

.zank-quickview-wrapper .zank-quickview-thumbnails {
	margin-top: 10px;
}

.zank-quickview-wrapper .zank-product-attributes {
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--zank-gray);
}

.zank-quickview-wrapper .zank-attr-label {
	text-transform: capitalize;
	margin-right: 5px;
	font-weight: 500;
	color: var(--zank-dark);
}

.zank-quickview-wrapper .zank-attr-item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-right: 15px;
}

.zank-quickview-wrapper .product_meta>span a,
.zank-quickview-wrapper .zank-attr-value,
.zank-quickview-wrapper .zank-attr-value a {
	color: var(--zank-dark);
}

.zank-quickview-wrapper .product_meta>span a:hover,
.zank-quickview-wrapper .zank-attr-value a:hover {
	color: var(--zank-gray);
}

.zank-quickview-wrapper .zank-title-rating {
	margin-bottom: 5px;
}

.zank-quickview-wrapper .zank-product-title {
	margin-bottom: 0px;
}

.zank-quickview-wrapper .zank-summary-item p:first-child {
    margin-top: 0;
}

.zank-quickview-wrapper .zank-summary-item p:last-child {
    margin-bottom: 0;
}
.zank-quickview-wrapper .zank-summary-item.zank-price p.stock.zank-stock-status {
    line-height: 1;
}
.zank-quickview-wrapper .zank-btn {
	margin-top: 15px;
}

.zank-quickview-wrapper .product_meta>span {
	display: block;
}

.zank-quickview-wrapper .product_meta {
	margin-top: 15px;
}

.zank-quickview-wrapper .product_meta .sku_wrapper {
	display: none;
}

.zank-quickview-wrapper .product_meta .sku_wrapper {
	display: none;
}

.zank-quickview-wrapper .zank-viewed-offer-time {
	margin-top: 15px;
}

.woocommerce div.zank-quickview-wrapper form.cart .variations {
	margin-bottom: 0;
}

.zank-quickview-wrapper .variations span.label {
	min-width: 40px;
}

.woocommerce div.zank-quickview-wrapper form.cart .variations select {
	margin-right: 0;
	width: auto;
	padding: 10px;
	margin-left: 10px;
}

.zank-quickview-wrapper ul.zank-product-features-list+form {
	margin-top: 30px;
}

.zank-quickview-wrapper .variations-items {
	display: flex;
	margin-bottom: 10px;
}

.zank-quickview-wrapper .zank-swiper-slider-wrapper .swiper-slide {
	text-align: center;
}

.zank-quickview-wrapper .zank-quickview-product-details ul, .zank-quickview-wrapper .zank-product-summary ul.zank-product-features-list {
	list-style: disc;
	padding-left: 20px;
}

.zank-quickview-wrapper .zank-quickview-product-details ul.zank-attr-list {
	padding: 0 !important;
	margin-bottom: 20px;
}

.zank-quickview-wrapper .zank-summary-item.zank-product-meta {
	display: flex;
	flex-direction: column;
}

.zank-quickview-wrapper .zank-btn-small {
	color: var(--zank-light);
	border-color: var(--zank-dark);
	background-color: var(--zank-dark);
	height: 38px;
	font-size: 14px;
	font-weight: 400;
	color: var(--zank-light);
	padding: 0 15px;
	min-width: 160px;
	text-transform: capitalize;
	letter-spacing: 0.3px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	border: 0;
}

.zank-quickview-wrapper .zank-summary-item+.zank-summary-item {
	margin-top: 20px;
}

.zank-quickview-wrapper .zank-summary-item.template-add-to-cart {
	display: inline-block;
}

.zank-quickview-wrapper .swiper-button-prev,
.zank-quickview-wrapper .swiper-button-next {
	background-image: none;
	color: var(--zank-dark-soft);
}

.zank-quickview-wrapper .swiper-button-prev:after,
.zank-quickview-wrapper .swiper-button-next:after {
    font-size: 24px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zank-quickview-wrapper .zank-swiper-thumbnails img {
	cursor: pointer;
}

.zank-quickview-wrapper .zank-swiper-thumbnails .swiper-slide-thumb-active img {
	border: 1px solid var(--zank-gray);
}

.zank-quickview-thumbnails .swiper-slide {
	max-width: 60px;
}

.zank-product-summary .zank-summary-item.zank-price {
	margin-top: 15px;
}

.zank-quickview-product-details.zank-product-summary .zank-summary-item.zank-price span+p.stock.zank-stock-status {
	position: relative;
	margin: 20px 0 0 10px;
	top: -4px;
}

.zank-quickview-wrapper .zank-swiper-slider-wrapper .swiper-slide {
	text-align: left;
}
.template-add-to-cart a {
    color: var(--zank-light);
    width: 100%;
}
@media(min-width:1024px) {

	.zank-quickview-wrapper .swiper-button-prev,
	.zank-quickview-wrapper .swiper-button-next {
		opacity: 0;
		-moz-transition: -moz-transform ease 0.25s, opacity ease 0.25s;
		-webkit-transition: -webkit-transform ease 0.25s, opacity ease 0.25s;
		-o-transition: -o-transform ease 0.25s, opacity ease 0.25s;
		-ms-transition: -ms-transform ease 0.25s, opacity ease 0.25s;
		transition: transform ease 0.25s, opacity ease 0.25s;
	}

	.zank-quickview-wrapper .swiper-button-next,
	.zank-quickview-wrapper .swiper-container-rtl .swiper-button-prev {
		right: 0px;
		transform: translateX(30px);
	}

	.zank-quickview-wrapper .swiper-button-prev,
	.zank-quickview-wrapper .swiper-container-rtl .swiper-button-next {
		left: 0px;
		transform: translateX(-30px);
	}

	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-button-prev,
	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-button-next {
		opacity: 1;
	}

	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-button-next,
	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-container-rtl .swiper-button-prev {
		right: 0px;
		transform: translateX(-10px);
	}

	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-button-prev,
	.zank-quickview-wrapper .zank-swiper-slider-wrapper:hover .swiper-container-rtl .swiper-button-next {
		left: 0px;
		transform: translateX(10px);
	}
}

@media(max-width:992px) {
	.zank-quickview-wrapper .zank-quickview-product-details {
		margin-top: 40px;
	}
}

@media(max-width:768px) {
	.admin-bar .mfp-wrap.mfp-zank-quickview {
		top: 46px;
	}

	.admin-bar .zank-quickview-wrapper {
		padding-bottom: 86px;
	}

	.zank-quickview-wrapper {
		max-width: 560px;
	}
}

@media(max-width:576px) {
	.zank-quickview-wrapper .single_variation_wrap .zank-btn {
		min-width: 140px;
	}
}

@media(max-width:480px) {
	.mfp-arrow {
		-webkit-transform: scale(0.55);
		transform: scale(0.55);
	}

	.zank-quickview-wrapper {
		padding: 20px;
		padding-bottom: 86px;
	}

	.zank-quickview-wrapper .zank-product-attributes,
	.zank-quickview-wrapper .zank-attr-list,
	.zank-quickview-wrapper .zank-attr-item {
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
	}

	.zank-quickview-wrapper .zank-attr-item {
		margin-right: 0;
		flex-direction: row;
	}

    .zank-quickview-wrapper .zank-btn {
        margin-top: 5px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
    }

	.zank-quickview-wrapper div.product form.cart div.quantity,
	.woocommerce .zank-quickview-wrapper div.product form.cart div.quantity {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
		float: none;
	}

	.zank-quickview-wrapper .swiper-button-prev:after,
	.zank-quickview-wrapper .swiper-button-next:after {
		font-size: 24px;
	}

    .mfp-zank-quickview .zank-panel-close-button {
        top: 0;
        right: 0;
        background: var(--zank-gray);
        border-radius: 0;
    }
}
